joblib>=1.1.0
numba
scipy
llvmlite
faiss-cpu==1.7.3
Cython
pydub>=0.25.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0
tensorboardX
Jinja2>=3.1.2
json5
Markdown
matplotlib>=3.7.0
matplotlib-inline>=0.1.3
praat-parselmouth>=0.4.2
Pillow>=9.1.1
resampy>=0.4.2
scikit-learn
tensorboard
tqdm>=4.63.1
tornado>=6.1
Werkzeug>=2.2.3
uc-micro-py>=1.0.1
sympy>=1.11.1
tabulate>=0.8.10
PyYAML>=6.0
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
fsspec>=2022.11.0
absl-py>=1.2.0
audioread
uvicorn>=0.21.1
colorama>=0.4.5
pyworld
httpx
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
torchcrepe==0.0.20
fastapi
ffmpy==0.3.1
python-dotenv>=1.0.0
av
tqdm
rotary_embedding_torch
transformers==4.29.2
tokenizers
inflect
progressbar
einops
unidecode
scipy

torchaudio
threadpoolctl
appdirs

numba
# Fundamentals
numpy
pyyaml
tb-nightly
future
scp
tqdm
matplotlib
scipy
munch
tqdm
scp
tensorboard
orjson
einops
lambda-networks
mup

# For image generation stuff
opencv-python
kornia
pytorch_ssim
gsa-pytorch
pytorch_fid

# For audio generation stuff
inflect
librosa
Unidecode
tgt
pyworld
audio2numpy
SoundFile

# For text stuff
transformers
tokenizers
jiwer  # calculating WER
omegaconf

# lucidrains stuff
vector_quantize_pytorch
linear_attention_transformer
rotary-embedding-torch
axial_positional_embedding
g-mlp-pytorch
x-clip
x_transformers==1.0.4

# bitsandbytes
bitsandbytes==0.35.0 ; platform_system == "Windows"
bitsandbytes ; platform_system != "Windows"
pydub
tqdm
pysrt
cutlet

openai-whisper
more-itertools
ffmpeg-python
gradio==4.22.0
music-tag
voicefixer
psutil
phonemizer
pydantic
websockets
beartype==0.15.0
pykakasi
rotary-embedding-torch==0.4.0
transformers==4.29.2
omegaconf<=2.1
pysrt

